.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-width: 100%;
  background-color: #f0f0f0; /* Màu nền cho container */
  /* justify-content: center;  */
  align-items: center; /* Canh giữa theo chiều dọc */
}

.model-viewer {
  flex: 5;
  height: 100%;
  background-color: #e5e3f2; /* Màu nền cho model-viewer */
  border: 5px solid #333;
}

.function-table {
  flex: 1;
  background-color: #fff; /* Màu nền cho function-table */
  padding: 20px; /* Khoảng cách nội dung bên trong */
}

.hidden {
  display: none;
}
progress {
  display: block;
  width: 100%;
}

select,
input:hover {
  cursor: pointer;
}

.model-viewer:hover {
  cursor: grab;
}
